.header1 {
  font-size: 1.5em;
}
.header2 {
  font-size: 1.25em;
}

.view-animate-container {
  position: relative;
}
 
.view-animate {
  width: 100%;
  background: white;
}
 
.view-animate.ng-enter {
  -webkit-transition:opacity 0.5s;
  transition:opacity 0.5s;
  opacity: 0;
}

.view-animate.ng-enter.ng-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

input.ng-invalid {
  border-color: #660000;
}

.font-size-70em {
  font-size: 0.70em;
}

.no-margin {
  margin: 0 !important;
}