<h1>Select a Color</h1>
<ul class="small-block-grid-5">
  <li ng-repeat="ele in base.modelTrimColor[subase.ele].colors">
    <a href="/#/model/{{ele.model}}/trim/{{ele.trim}}/color/{{ele.ext_color_code}}"><img ng-src="http://cdn.wpdlr.co/assets/vehicles/evox/ext_color/{{ele.evox_vif}}/{{ele.evox_vif}}_cc0640_001_{{ele.ext_color_code}}.png"></a>
    <ul>
      <li>model: <strong>{{ele.model}}</strong></li>
      <li>trim: <strong>{{ele.trim}}</strong></li>
      <li>color: <strong>{{ele.exterior_color}}</strong></li>
    </ul>
  </li>
</ul>
<!-- <code>{{base.modelTrimColor}}</code> -->