<h1>Select a Color</h1>
<div class="row">
  <div class="columns large-3">
    <ul>
      <li>Year: {{base.yearSelected.year}}</li>
      <li>Model: {{subase.current.model.replace('_',' ')}}</li>
      <li>Trim: {{subase.current.trim}}</li>
    </ul>
  </div>
  <div class="columns large-9">
    <ul class="small-block-grid-2 large-block-grid-5">
      <li ng-repeat="ele in baseF.modelTrimColor[subase.ele].colors">
        <a href="#/model/{{ele.model}}/trim/{{ele.trim}}/color/{{ele.ext_color_code}}"><img ng-src="http://cdn.wpdlr.co/assets/vehicles/evox/ext_color/{{ele.evox_vif}}/{{ele.evox_vif}}_cc0640_001_{{ele.ext_color_code}}.png"></a>
        <strong>{{ele.exterior_color}}</strong>
        <br><small><span>{{ele.colorCount}}</span> Vehicles</small>
        <br><small>Starts at <span>${{ele.msrp}}</span> MSRP<sup>*</sup></small>
      </li>
    </ul>
  </div>
</div>
<div ng-include="'views/disclaimer.html'"></div>