<ul class="breadcrumbs">
  <li><select class="no-margin" style="width: initial;" ng-model="base.yearSelected" ng-options="obj.yearlabel for obj in base.yearArray"></select></li>
  <li ng-if="makes.makeSelected"><select class="no-margin" style="width: initial;" ng-model="makes.makeSelected" ng-options="obj.make for obj in makes.collection"></select></li>
  <li>Model</li>
  <li>Trim</li>
  <li>Color</li>
</ul>
<h2 class="header2">Select a Model</h2>
<ul class="small-block-grid-2 large-block-grid-5">
  <li ng-repeat="ele in baseF.models">
    <table><tbody>
      <tr><td colspan="2"><a href="#/model/{{ele.model}}" data-snowplow="instock-quote:add:model:{{ele.model}}"><img ng-src="http://cdn.wpdlr.co/assets/vehicles/evox/ext_color/{{ele.evox_vif}}/{{ele.evox_vif}}_cc0640_001_{{ele.extColorCode}}.png" class="grid-img" alt="{{ele.model}}" data-evox="{{ele.evox_vif}}" onerror="replaceImg(this)"></a></td></tr>
      <tr>
        <td><strong>{{ele.modelLabel}}</strong>
          <br><font class="font-size-70em" ng-show="ele.msrpmodel">Starts at ${{ele.msrpmodel}}<sup>*</sup></font></td>
        <td class="text-center primary"><span ng-if="ele.modelCount">{{ele.modelCount}}
          <br><font class="font-size-70em">in Stock</font></span></td>
      </tr>
    </tbody></table>
  </li>
</ul>
<div ng-include="'views/disclaimer.html'"></div>
