<div class="row">
  <div class="columns large-6">
    <ul class="pricing-table">
      <li class="bullet-item">Year: <strong>{{subase.current.year}}</strong></li>
      <li class="bullet-item">Model: <strong>{{subase.current.modelLabel}}</strong></li>
      <li class="bullet-item">Trim: <strong>{{subase.current.trimLabel}}</strong></li>
      <li class="bullet-item">Color: <strong>{{subase.current.exterior_color}}</strong></li>
      <li class="bullet-item">Vin: <strong>{{subase.current.vin}}</strong></li>
      <li class="price" ng-show="subase.current.msrp">MSRP: $<strong>{{subase.current.msrp}}</strong><sup>*</sup></li>
      <li><img ng-src="http://cdn.wpdlr.co/assets/vehicles/evox/ext_color/{{subase.current.evox_vif}}/{{subase.current.evox_vif}}_cc0640_001_{{subase.current.extColorCode}}.png" class="grid-img" alt="{{ele.model}}"></li>
    </ul>
  </div>
  <div class="columns large-6">
    <ul class="breadcrumbs">
      <li><a href="#/year/{{subase.current.year}}/make/{{makes.dealerMake}}" data-snowplow="instock-quote:removed:model,trim,color:{{subase.current.model}},{{subase.current.trim}},{{subase.current.exterior_color}}">{{base.yearSelected.year}}</a></li>
      <li ng-if="makes.makeSelected"><a href="#/year/{{subase.current.year}}/make/{{makes.dealerMake}}" data-snowplow="instock-quote:removed:model,trim,color:{{subase.current.model}},{{subase.current.trim}},{{subase.current.exterior_color}}">{{makes.dealerMake}}</a></li>
      <li><a href="#/year/{{subase.current.year}}/make/{{makes.dealerMake}}" data-snowplow="instock-quote:removed:model,trim,color:{{subase.current.model}},{{subase.current.trim}},{{subase.current.exterior_color}}">{{subase.current.modelLabel}}</a></li>
      <li><a href="#/year/{{subase.current.year}}/make/{{makes.dealerMake}}/model/{{subase.modelsel}}" data-snowplow="instock-quote:removed:trim,color:{{subase.current.trim}},{{subase.current.exterior_color}}">{{subase.current.trimLabel}}</a></li>
      <li><a href="#/year/{{subase.current.year}}/make/{{makes.dealerMake}}/model/{{subase.modelsel}}/trim/{{subase.trimsel}}" data-snowplow="instock-quote:removed:color:{{subase.current.exterior_color}}">{{subase.current.exterior_color}}</a></li>
    </ul>
    <!-- <form class="mform" name="mquo" id="{{subase.elementHash}}" ng-hide="subase.thankyou"> -->
    <form class="mform" name="mquo" id="elementHash" ng-hide="subase.thankyou">
      <div class="panel radius"><div class="row" style="line-height:2em">
        <div class="columns large-6">
          <label class="left small-5">Quote Type</label>
          <select class="selecth small-5" id="qtype" name="quote_type" ng-model="mform.quoteTypeSelected">
            <option value="lease">Lease</option>
            <option value="finance">Finance</option>
            <option value="purchase">Purchase</option>
          </select>
        </div>
        <div ng-if="mform.quoteTypeSelected !== 'purchase'" class="columns large-6">
          <label class="left small-5">Credit Rating</label>
          <select class="selecth small-5" name="credit_rating" ng-model="mform.creditRating">
            <option value="great">Great</option>
            <option value="good">Good</option>
            <option value="soso">So-so</option>
            <option value="notgood">Not so good</option>
          </select>
        </div>
      </div></div>
      <!-- quote type / credit rating -->
      <div class="row">
        <div class="columns small-4">
          <label for="first_name">First Name<span ng-show="mquo.first_name.$error.required"> * </span></label>
          <input type="text" id="first_name" name="first_name-r" ng-model="mform['first_name-r']" required>
        </div>
        <div class="columns small-4">
          <label for="last_name">Last Name<span ng-show="mquo.last_name.$error.required"> * </span></label>
          <input type="text" id="last_name" name="last_name-r" ng-model="mform['last_name-r']" required>
        </div>
        <div class="columns small-4">
          <label for="email">Email<span ng-show="mquo.email.$error.required"> * </span></label>
          <input type="email" id="email" name="email-r" ng-model="mform['email-r']" required>
        </div>
      </div>
      <div ng-if="mform.quoteTypeSelected === 'lease'" class="row">
        <div class="columns small-4 large-4">
          <label for="lease_term">Term</label>
          <select class="selecth" id="lease_term" name="lease_term" ng-model="mform.leaseTerm">
            <option value="any">Any</option>
            <option value="24">24 mo.</option>
            <option value="36">36 mo.</option>
            <option value="39">39 mo.</option>
            <option value="42">42 mo.</option>
            <option value="48">48 mo.</option>
          </select>
        </div>
        <div class="columns small-4 large-4">
          <label for="miles_year">Miles per year</label>
          <select class="selecth" id="miles_year" name="miles_year" ng-model="mform.leaseMilesYear">
            <option value="10000">10,000 mi.</option>
            <option value="12000">12,000 mi.</option>
            <option value="15000">15,000 mi.</option>
            <option value="18000">18,000 mi.</option>
            <option value="20000">20,000 mi.</option>
          </select>
        </div>
        <div class="columns small-12 large-4">
          <label for="max_down">Max down-payment<span ng-show="mquo.max_down.$error.required"> * </span></label>
          <input type="number" id="max_down" name="max_down" ng-model="mform.maxDown" required>
        </div>
        <div class="columns large-12">
          <label for="additional_equipment">Additional Equipment/Notes/Details</label>
          <textarea name="additional_equipment" ng-model="mform.additionalEquipment"></textarea>
        </div>
      </div>
      <div ng-if="mform.quoteTypeSelected === 'finance'" class="row">
        <div class="columns small-6">
          <label for="finance_term">Term</label>
          <select class="selecth" id="finance_term" name="finance_term" ng-model="mform.financeTerm">
            <option value="any">Any</option>
            <option value="24">24 mo.</option>
            <option value="26">26 mo.</option>
            <option value="48">48 mo.</option>
            <option value="60">60 mo.</option>
            <option value="72">72 mo.</option>
            <option value="84">84 mo.</option>
          </select>
        </div>
        <div class="columns small-6">
          <label for="max_down">Max down-payment<span ng-show="mquo.max_down.$error.required"> * </span></label>
          <input type="number" id="max_down" name="max_down" ng-model="mform.maxDown" required>
        </div>
        <div class="columns large-12">
          <label for="additional_equipment">Additional Equipment/Notes/Details</label>
          <textarea name="additional_equipment" ng-model="mform.additionalEquipment"></textarea>
        </div>
      </div>
      <div ng-if="mform.quoteTypeSelected === 'purchase'" class="row">
        <div class="columns large-12">
          <label for="additional_equipment">Additional Equipment/Notes/Details</label>
          <textarea name="additional_equipment" ng-model="mform.additionalEquipment"></textarea>
        </div>
      </div>
      <div class="text-right">
        <span ng-hide="mquo.$valid" class="radius alert label">Please Fill all the Fields</span>
        <input class="button small" ng-if="mquo.$valid" ng-click="snowpush()" type="submit" name="dForm-Submit" value="Submit">
      </div>
    </form>
    <div ng-show="subase.thankyou">
      <p>Thank You! {{mform['first_name-r']}} {{mform['last_name-r']}}<br>
        Your {{mform.quoteTypeSelected}} quote:</p>
      <ul ng-if="mform.quoteTypeSelected === 'lease'">
        <li><span>Term:</span> {{mform.leaseTerm}}</li>
        <li><span>Miles/Year:</span> {{mform.leaseMilesYear}}</li>
        <li><span>Max down-payment:</span> {{mform.maxDown}}</li>
      </ul>
      <ul ng-if="mform.quoteTypeSelected === 'finance'">
        <li><span>Term:</span> {{mform.financeTerm}}</li>
        <li><span>Max down-payment:</span> {{mform.maxDown}}</li>
      </ul>
      <p ng-if="mform.additionalEquipment">Additional Equipment/Notes/Details<br>{{mform.additionalEquipment}}</p>
      <p>We will get back to you shortly. If you have any questions please call, {setup_dealer_phone_main}.</p>
      <button class="small" ng-click="formPrint()">Print</button>
      <a href="#" class="button small">Reset</a>
    </div>
    <div ng-include="'views/disclaimer.html'"></div>
  </div>
</div>
