<ul class="breadcrumbs">
  <li><a href="#">{{base.yearSelected.year}}</a></li>
  <li ng-if="makes.makeSelected"><a href="#">{{makes.dealerMake}}</a></li>
  <li><a href="#">{{subase.current.modelLabel}}</a></li>
  <li>Trim</li>
  <li>Color</li>
</ul>
<h2 class="header2">Select a Trim</h2>
<ul class="small-block-grid-2 large-block-grid-4">
  <li ng-repeat="ele in baseF.modelTrim[subase.ele].trimuniq">
    <table><tbody>
      <tr><td colspan="2"><a href="#/model/{{ele.model}}/trim/{{ele.trim}}"><img ng-src="http://cdn.wpdlr.co/assets/vehicles/evox/ext_color/{{ele.evox_vif}}/{{ele.evox_vif}}_cc0640_001_{{ele.ext_color_code}}.png"></a></td></tr>
      <tr>
        <td><strong>{{ele.trimLabel}}</strong>
          <br><font class="font-size-70em">Starts at ${{ele.msrptrim}}<sup>*</sup></font></td>
        <td class="text-center"><span>{{ele.trimCount}}
          <br><font class="font-size-70em">in Stock</font></span></td>
      </tr>
    </tbody></table>
  </li>
</ul>
<div ng-include="'views/disclaimer.html'"></div>